name: Android CI

on: pull_request

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build android app
      run: ./gradlew assembleDebug

    - name: Run Unit Tests
      run: ./gradlew test
    - name: Build web app
      run: ./gradlew :web:assemble
    - name: Build macOS shared code
      run: ./gradlew :common:compileKotlinMacOS

    # If main branch update, deploy to gh-pages
    - name: Deploy
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: web/build/distributions # The folder the action should deploy.
        CLEAN: true # Automatically remove deleted files from the deploy branch


  androidTest:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Wear Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          target: android-wear
          script: ./gradlew wearApp:connectedAndroidTest

      - name: Android Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          script: ./gradlew app:connectedAndroidTest