name: Web CI

on: pull_request

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 17

    - name: kotlinUpgradeYarnLock
      run: ./gradlew kotlinUpgradeYarnLock


    - name: Build web app
      run: ./gradlew :compose-web:assemble

    # If main branch update, deploy to gh-pages
#    - name: Deploy
#      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
#      uses: JamesIves/github-pages-deploy-action@v4.5.0
#      with:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        BRANCH: gh-pages # The branch the action should deploy to.
#        FOLDER: web/build/distributions # The folder the action should deploy.
#        CLEAN: true # Automatically remove deleted files from the deploy branch

